* {
    box-sizing: border-box;
    font: caption;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(109, 101, 101);
}

header {
    font-weight: bold;
    text-align: center; 
    font-size: xx-large;
    border-bottom: 2px solid black;
    height: 100px;
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 0.5%;
    background-color: rgb(233, 8, 8);
    margin-bottom: 0px;
    padding-top: 25px;
}

footer {
    border-top: 2px solid black;
    height: 8%;
    width: 100%;
    padding: 0.2%;
    margin: auto;
    text-align: center;
    font-size: 14px;
    background-color: rgb(233, 8, 8);
}

.side_roads {
    background-image: url(./images/banniereF1.jpg), url(./images/banniereF1.jpg);
    background-repeat: repeat-y;
    background-position: right top, left top;
    background-size: 3%;
    padding-left: 5.2%;
    padding-right: 5.2%;
}

table {
    border-collapse: separate;
    margin: auto;
    margin-bottom: 5%;
    border-spacing: 60px;
}

td {
    border: 0px;
    text-align: center;
    font-size: large;
    padding-bottom: 10px;
    width: 400px;
}

caption {
    font-weight: bold;
    font-size: x-large;
    margin-top: 5%;
    margin-bottom: 0%;
    text-decoration: underline;
}

.zoom {
    width: 320px;
    height: 240px;
}

.image img {
    transition: all 0.5s ease;
}

.image:hover img {
    transform:scale(1.25);
}

.logo {
    background-image: url(./images/Logo-AlfaRomeo-F1.png), url(./images/Logo-AlfaRomeo-F1.png);
    background-repeat: no-repeat;
    background-position: right top, left top;
    background-size: 10%;
    font-weight: bold;
    text-align: center; 
    font-size: xx-large;
    height: 60px;
    width: 100%;
    display: block;
}